{% extends "main/base.html" %}

{% block extra_head %}
    <!-- Set up JS variables -->
    <script type="text/javascript">
        var pages = [];
        var page = {}, versions = [];
        {% for page in pages %}
            page = {
                'name': '{{ page.name|escapejs }}',
                'description': '{{ page.description|escapejs }}',
            };
            versions = [];
            {% for version in page.versions.all %}
                versions.push({
                    'url': '{{ version.image.url|escapejs }}',
                    'number': '{{ version.number|escapejs }}'
                });
            {% endfor %}
            page['versions'] = versions;
            pages.push(page);
        {% endfor %}
    </script>
{% endblock %}

{% block content %}
    {% load comments %}
    <div id="preview-image">
        <img src="/media/images/loader.gif" alt="Preview image" />
    </div>
    <div id="nav">
        <h1>{{ client.name }} / {{ project.name }}</h1>
        <ul>
        {% for page in pages %}
            <li>Page: <a href="{% url main-client-project-page project_slug=project.slug client_slug=client.slug page_slug=page.slug %}"><span class="page_name" id="{{ page.slug }}">{{ page.name }}</span></a> (Versions: 
            {% for version in page.versions.all %}
            {% get_comment_count for version as comment_count %}
            <a href="{{ version.image.url }}" id="{{ page.slug }}_{{ version.number }}" class="page_version">{{ version.number }}</a>
	    <a href="{% url comments-page-project client_slug=client.slug project_slug=project.slug page_slug=page.slug version_no=version.number %}">({{ comment_count }})</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
            )
            </li>
        {% endfor %}
        </ul>
        <p>
            <a href="#" id="nav_prev">Previous</a> | <a href="#" id="nav_next">Next</a>
        </p>
    </div>
{% endblock %}
